<label for="brand" class="flex items-center gap-2 cursor-pointer">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="w-4 stroke-white fill-white"
    [style.stroke]="color()"
    [style.fill]="color()"
    [style.width]="logoSize()"
    [style.height]="logoSize()"
    viewBox="0 0 19.405 22.4"
  >
    <g id="Group_1" data-name="Group 1" transform="translate(0 -0.8)">
      <path
        id="Path_10"
        data-name="Path 10"
        d="M13.856,3.2,0,11.2V6.4L9.7.8Z"
      />
      <path
        id="Path_11"
        data-name="Path 11"
        d="M19.405,6.4V9.169L2.4,18.985,0,17.6V14.995L17.139,5.1Z"
      />
      <path
        id="Path_12"
        data-name="Path 12"
        d="M5.682,20.882l13.723-7.918V17.6L9.7,23.2Z"
      />
    </g>
  </svg>

  <h1
    [style.color]="color()"
    [style.font-size]="textSize() + 'px'"
  >
    S.I.A.M.S
  </h1>
</label>
