<section class="py-10">
  <div class="max-w-5xl mx-auto bg-white shadow-lg rounded-lg p-6">
    <h1 class="text-3xl font-bold text-gray-800 mb-6 text-center">
      Details Overview
    </h1>

    @switch (dutyDetailsQuery.status()) { @case ('pending') { @if
    (dutyDetailsQuery.data()) {
    <ng-container *ngTemplateOutlet="overview" />
    } @else {
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <!-- Old Duty Skeleton -->
        <div class="bg-gray-50 border border-gray-200 rounded-lg p-5 shadow">
          <div class="h-8 bg-gray-300 rounded mb-4"></div>
          <div class="h-4 bg-gray-300 rounded mb-2"></div>
          <div class="h-4 bg-gray-300 rounded mb-2"></div>
          <div class="h-4 bg-gray-300 rounded mb-2"></div>
          <div class="h-4 bg-gray-300 rounded"></div>
        </div>
      
        <!-- Updated Duty Skeleton -->
        <div class="bg-gray-50 border border-gray-200 rounded-lg p-5 shadow">
          <div class="h-8 bg-gray-300 rounded mb-4"></div>
          <div class="h-4 bg-gray-300 rounded mb-2"></div>
          <div class="h-4 bg-gray-300 rounded mb-2"></div>
          <div class="h-4 bg-gray-300 rounded mb-2"></div>
          <div class="h-4 bg-gray-300 rounded"></div>
        </div>
      </div>
    } } @case ('error') {
    <h1 class="text-red-500">Error occured: {{ dutyDetailsQuery.error()?.message }}</h1>
    } @case ('success') {
    <ng-container *ngTemplateOutlet="overview" />
    } }

    <ng-template #overview>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <!-- Old Duty Section -->
        <div class="bg-gray-50 border border-gray-200 rounded-lg p-5 shadow">
          <h2 class="text-2xl font-semibold text-gray-700 mb-4">Old Duty</h2>
          <p class="mb-2 truncate">
            <strong>Student ID: </strong>
            <span>{{ dutyDetailsQuery.data()?.oldDuty?.id ?? 'N/A' }}</span>
          </p>
          <p class="mb-2 truncate">
            <strong>Company: </strong>
            <span>{{
              dutyDetailsQuery.data()?.oldDuty?.companyDetails?.companyName ?? 'N/A'
            }}</span>
          </p>
          <p class="mb-2 truncate">
            <strong>Date Commenced: </strong>
            <span>{{ dutyDetailsQuery.data()?.oldDuty?.dateCommenced ?? 'N/A' }}</span>
          </p>
          <p class="mb-2 truncate">
            <strong>Internship: </strong>
            <span>{{ dutyDetailsQuery.data()?.oldDuty?.internship ?? 'N/A' }}</span>
          </p>
          <p>
            <strong>Academic Year: </strong>
            <span
              >{{
                dutyDetailsQuery.data()?.oldDuty?.startOfAcademicYear
                  | date : "yyyy" 
              }}
              /
              {{
                dutyDetailsQuery.data()?.oldDuty?.endOfAcademicYear
                  | date : "yyyy"
              }} </span
            >
          </p>
        </div>

        <!-- Updated Duty Section -->
        <div class="bg-gray-50 border border-gray-200 rounded-lg p-5 shadow">
          <h2 class="text-2xl font-semibold text-gray-700 mb-4">
            Updated Duty
          </h2>
          <p class="mb-2 truncate">
            <strong>Student ID: </strong>
            <span class="text-red-500 font-medium">{{
              dutyDetailsQuery.data()?.updatedDuty?.id ?? 'N/A'
            }}</span>
          </p>
          <p class="mb-2 truncate">
            <strong>Company: </strong>
            <span class="text-red-500 font-medium">{{
              dutyDetailsQuery.data()?.updatedDuty?.companyDetails?.companyName ?? 'N/A'
            }}</span>
          </p>
          <p class="mb-2 truncate">
            <strong>Date Commenced: </strong>
            <span class="text-red-500 font-medium">{{
              dutyDetailsQuery.data()?.updatedDuty?.dateCommenced ?? 'N/A'
            }}</span>
          </p>
          <p class="mb-2 truncate">
            <strong>Internship: </strong>
            <span class="text-red-500 font-medium">{{
              dutyDetailsQuery.data()?.updatedDuty?.internship ?? 'N/A'
            }}</span>
          </p>
          <p>
            <strong>Academic Year: </strong>
            <span class="text-red-500 font-medium"
              >{{
                dutyDetailsQuery.data()?.updatedDuty?.startOfAcademicYear
                  | date : "yyyy"
              }}
              /
              {{
                dutyDetailsQuery.data()?.updatedDuty?.endOfAcademicYear
                  | date : "yyyy"
              }}</span
            >
          </p>
        </div>
      </div>
    </ng-template>

    <div class="mt-8 text-center">
      <button
        type="button"
        routerLink="/"
        class="bg-Primary-Blue text-white px-6 py-3 rounded-full shadow hover:bg-blue-800 transition duration-300"
      >
        Go Back
      </button>
    </div>
  </div>
</section>
