<section class="px-4 sm:px-6 lg:px-8 xl:px-10 2xl:px-12">
  <div
    class="flex flex-col sm:flex-row items-center sm:items-center justify-between w-full mb-6 sm:mb-8"
  >
    <div class="flex flex-col gap-2 mb-4 sm:mb-0">
      <p
        class="text-Primary-Black text-lg sm:text-xl lg:text-2xl 2xl:text-[26px] font-medium relative flex gap-2"
      >
        Welcome back {{ username() }}
        <img src="/assets/icons/waving_hand.svg" alt="Waving Hand" />
      </p>
      <p class="text-Dark-Blue text-lg">Here's an overview of your profile</p>
    </div>

    <div class="flex items-center -mt-[5px] gap-2 sm:gap-5">
      <!-- Dropdown for years -->
      <div class="relative cursor-pointer">
        <p-dropdown
          [options]="years"
          [(ngModel)]="selectedYear"
          (ngModelChange)="getYears()"
          optionLabel="name"
          optionValue="value"
          [placeholder]="currentYear.toString() + '/' + nextYear.toString()"
        >
        </p-dropdown>
      </div>

      <!-- Dropdown for semesters -->
      <div class="relative cursor-pointer">
        <p-dropdown
          [options]="semesterOptions"
          [(ngModel)]="selectedSemester"
          (ngModelChange)="handleSemesterChange()"
          optionLabel="name"
          optionValue="value"
          [placeholder]="semesterOptions[0].name"
        >
        </p-dropdown>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    @for (card of statCard; track $index) {
    <liaison-stat-card
      [iconSrc]="card.iconSrc"
      [title]="card.title"
      [count]="card.count"
      [navigateTo]="card.navigateTo"
      [showView]="card.show"
      [isLoading]="analyticsQuery.isPending()"
    >
    </liaison-stat-card>
    }
  </div>

  <div class="mt-8 sm:mt-10">
    <liaison-admin-chart> </liaison-admin-chart>
  </div>

  <div class="mt-8 sm:mt-10">
    <p class="text-lg sm:text-xl font-medium mb-4">
      Updated Assumption of Duties
    </p>
    <div class="overflow-x-auto">
      @switch (studentAssumptionOfDutyLogsQuery.status()) { @case ('pending') {
      @if (studentAssumptionOfDutyLogsQuery.data()) {
      <ng-container *ngTemplateOutlet="table" />
      } @else {
      <liaison-table
        [columns]="columns"
        [data]="[]"
        [dataIsLoading]="true"
        [HideCheckbox]="HideCheckbox"
      />
      } } @case ('error') {
      <liaison-table
        [columns]="columns"
        [data]="[]"
        [errorOccurred]="true"
        [HideCheckbox]="HideCheckbox"
      />
      } @case ('success') {
      <ng-container *ngTemplateOutlet="table" />

      } }
    </div>
  </div>
</section>

<ng-template #table>
  <liaison-table
    [HideCheckbox]="HideCheckbox"
    [HidePagination]="HidePagination"
    [columns]="columns"
    [data]="studentAssumptionOfDutyLogsQuery.data()!"
    [isRowClickable]="true"
    (rowClicked)="handleOnRowClicked($event)"
  >
  </liaison-table>
</ng-template>
