<div class="px-4 sm:px-6 lg:px-8 xl:px-10 2xl:px-12">
  <div class="flex flex-col sm:flex-row items-start sm:items-center justify-between w-full mb-6 sm:mb-8">
    <div class="flex flex-col gap-2 mb-4 sm:mb-0">
      <p class="text-Primary-Black text-lg sm:text-xl lg:text-2xl 2xl:text-[22px] font-medium relative">
        Welcome back James
        <img class="absolute top-0 right-0 sm:-right-8 mt-[-20px] sm:mt-[5px]" ngSrc="assets/🦆%20emoji%20_waving%20hand%20sign_.svg" width="21" height="21" alt="wave">
      </p>
      <p class="text-Dark-Blue text-sm sm:text-base">Here's an overview of your profile</p>
    </div>

    <div class="flex items-center gap-3 sm:gap-5">
      <!-- Dropdown for years -->
      <div class="relative cursor-pointer">
        <select class="cursor-pointer border border-Dark-Blue rounded-full py-1 px-2 sm:px-3 text-sm sm:text-base text-Dark-Blue bg-white focus:outline-none focus:ring-1 focus:ring-blue-500">
          <option *ngFor="let year of years" [value]="year">{{ year }}</option>
        </select>
      </div>

      <!-- Import Data Button -->
<!--      <button-->
<!--        (click)="navigateToUpload()"-->
<!--        class="bg-Dark-Blue text-white rounded-full py-1 px-3 sm:px-4 text-sm sm:text-base flex items-center hover:bg-blue-900">-->
<!--        Import Data-->
<!--        <span class="ml-1 text-lg sm:text-xl">+</span>-->
<!--      </button>-->
    </div>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 sm:gap-6 lg:gap-8 xl:gap-72 2xl:gap-[30%]">
    @for (card of statCard; track $index) {
      <liaison-stat-card
        [iconSrc]="card.iconSrc"
        [title]="card.title"
        [count]="card.number">
      </liaison-stat-card>
    }
  </div>

  <div class="mt-8 sm:mt-10">
    <liaison-admin-chart>
    </liaison-admin-chart>
  </div>

  <div class="mt-8 sm:mt-10">
    <p class="text-lg sm:text-xl font-medium mb-4">Top Zones</p>
    <div class="overflow-x-auto">
      <liaison-table
        [HideCheckbox]="HideCheckbox"
        [columns]="columns"
        [data]="data">
      </liaison-table>
    </div>
  </div>
</div>
