<p-toast></p-toast>
<p-stepper orientation="vertical">
  <p-stepperPanel header="Company Information">
    <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
      <div class="flex flex-column h-12rem">
        <div class="border-2  border-dashed surface-border border-round surface-ground flex-auto flex-row justify-content-center align-items-center font-medium">
          <form [formGroup]="companyInfoForm" >
            <div class=" w-full gap-10 ">
              <div class="w-[100%]  grid grid-col-1 md:grid-cols-2 xl:grid-cols-3 gap-10 px-10 items-start mt-10">
                <p-floatLabel>
                  <input
                    type="text"
                    id="companyName"
                    formControlName="companyName"
                    pInputText
                    class="border-red-700 h-10 w-full pl-3 focus:outline-none"
                  />
                  <label for="companyName">Company Name</label>
                </p-floatLabel>

                <p-floatLabel>
                  <input
                    type="text"
                    id="companyPhone"
                    formControlName="companyPhone"
                    pInputText
                    (input)="onPhoneInput($event)"
                    pattern="[0-9]*"
                    maxlength="10"
                    class="border-red-700 h-10 w-full pl-3 focus:outline-none"
                  />
                  <label for="companyPhone">Company Phone No </label>
                </p-floatLabel>

                <p-floatLabel>
                  <input
                    type="text"
                    id="location"
                    formControlName="companyExactLocation"
                    pInputText
                    class="border-red-700 h-10 w-full pl-3 focus:outline-none"
                  />
                  <label for="location">Company Exact Location</label>
                </p-floatLabel>

                <p-floatLabel>
                  <input
                    type="text"
                    id="city"
                    formControlName="companyTown"
                    pInputText
                    class="border-red-700 h-10 w-full pl-3 focus:outline-none"
                  />
                  <label for="city">Company Town/City</label>
                </p-floatLabel>

                <p-floatLabel>
                  <input
                    type="date"
                    id="commencementDate"
                    formControlName="commencementDate"
                    pInputText
                    class="border-red-700 h-10 w-full pl-3 focus:outline-none"
                    (focus)="isFocused = true"
                    (blur)="isFocused = false"
                  />
                  <label
                    [ngStyle]="{'opacity': isFocused ? '1' : '0', 'transition': 'opacity 0.3s ease'}"
                    for="commencementDate"
                  >
                    Date of Commencement
                  </label>
                </p-floatLabel>


                <p-floatLabel>
                  <input
                    type="text"
                    id="address"
                    formControlName="companyAddress"
                    pInputText
                    class="border-red-700 h-10 w-full pl-3 focus:outline-none"
                  />
                  <label for="address">Company Address</label>
                </p-floatLabel>

                <p-floatLabel>
                  <input
                    type="email"
                    id="email"
                    formControlName="companyEmail"
                    pInputText
                    class="border-red-700 h-10 w-full pl-3 focus:outline-none"
                  />
                  <label for="email">Company Email Address</label>
                </p-floatLabel>

                <p-floatLabel>
                  <input
                    type="text"
                    id="supervisor"
                    formControlName="companySupervisor"
                    pInputText
                    class="border-red-700 h-10 w-full pl-3 focus:outline-none"
                  />
                  <label for="supervisor">Company Supervisor</label>
                </p-floatLabel>

                <p-floatLabel>
                  <input
                    (input)="onSuperPhoneInput($event)"
                    type="text"
                    id="supervisorPhone"
                    pattern="[0-9]*"
                    maxlength="10"
                    formControlName="supervisorPhone"
                    pInputText
                    class="border-red-700 h-10 w-full pl-3 focus:outline-none"
                  />
                  <label for="supervisorPhone">Supervisor Phone No</label>
                </p-floatLabel>
              </div>
              <div  class="w-[100%] 2xl:w-[35%] grid-flow-col gap-5 grid grid-col-1 md:grid-col-2 px-10  mt-10 ">

                <div class="w-full">
                  <label class="font-medium text-base mb-2 text-Dark-Primary">Company Region:</label>
                  <select
                    required
                    formControlName="companyRegion"
                    class="bg-transparent border text-sm font-normal border-gray-30 rounded-lg block w-full p-3 input-field "
                  >
                    <option value="" disabled selected>Select region</option>
                    <option class="text-black" *ngFor="let zone of zones">
                            {{ zone.name }}
                    </option>
                  </select>
                </div>

                <div class="w-full">
                  <label class="font-medium text-base mb-2 text-Dark-Primary">Letter Addressed To: </label>
                  <select
                    required
                    formControlName="letterTo"
                    class="bg-transparent border text-sm font-normal border-gray-30 rounded-lg block w-full p-3 input-field "
                  >
                    <option  value="" disabled selected>Select addressed</option>
                    <option class="text-black custom-option" *ngFor="let option of letterToOptions">
                      {{ option.name }}
                    </option>
                  </select>
                </div>

              </div>
            </div>

              <div class="flex py-4 mx-10 mt-10">
                <button (click)="moveNext(nextCallback)" [ngClass]="{'bg-Primary-Blue':companyInfoForm.valid, 'bg-Lighter-Blue':!companyInfoForm.valid}" class=" hover:bg-Bright-Blue cursor-pointer text-white px-5 py-2 rounded-md " >Next</button>
<!--                <p-button label="Next" />-->
              </div>
          </form>
        </div>
      </div>
    </ng-template>
  </p-stepperPanel>

  <p-stepperPanel header="Terms of Agreement">
    <ng-template [formGroup]="AgreementForm"  pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
      <div class="flex flex-col gap-10 px-10">
        <!-- Terms & Conditions Section -->
        <div class="w-full">
          <p>
            I agree that information provided on this form is genuine and valid.
          </p>
          <div class="mt-3">
            <p-checkbox
              formControlName="termsAccepted"
              binary="true"
              inputId="acceptTerms"
              class="mr-5"
            />
            <label >Accept Terms & Conditions</label>
          </div>

        </div>


        <div class="flex py-4 gap-8">
          <button class= "text-black border-[1px] border-gray-200 px-5 py-2 rounded-md"  (click)="moveBack(prevCallback)">Back</button>
          <button  (click)="submitForm()"  [ngClass]="{'bg-Primary-Blue':companyInfoForm.valid, 'bg-Lighter-Blue': !companyInfoForm.valid}"  class=" hover:bg-Bright-Blue cursor-pointer text-white px-5 py-2 rounded-md "  >Submit</button>
          <liaison-loader-modal [isOpen]="isModalOpen"></liaison-loader-modal>
        </div>
      </div>
    </ng-template>
  </p-stepperPanel>


</p-stepper>
