<div>
  <div class="flex flex-column h-12rem">
    <div
      class="surface-border border-round surface-ground flex-auto flex-row justify-content-center align-items-center font-medium">
      <form>
        <div class="w-full gap-10">
          <div class="w-[100%] grid grid-col-1 md:grid-cols-2 xl:grid-cols-3 gap-10 px-10 items-start mt-10">
            <!-- Skeleton Fields -->
            <div>
              <div class="skeleton h-5 w-32 mb-2 rounded-md"></div>
              <div class="skeleton h-10 w-full rounded-md"></div>
            </div>

            <div>
              <div class="skeleton h-5 w-40 mb-2 rounded-md"></div>
              <div class="skeleton h-10 w-full rounded-md"></div>
            </div>

            <div>
              <div class="skeleton h-5 w-48 mb-2 rounded-md"></div>
              <div class="skeleton h-10 w-full rounded-md"></div>
            </div>

            <div>
              <div class="skeleton h-5 w-40 mb-2 rounded-md"></div>
              <div class="skeleton h-10 w-full rounded-md"></div>
            </div>

            <div>
              <div class="skeleton h-5 w-48 mb-2 rounded-md"></div>
              <div class="skeleton h-10 w-full rounded-md"></div>
            </div>

            <div>
              <div class="skeleton h-5 w-44 mb-2 rounded-md"></div>
              <div class="skeleton h-10 w-full rounded-md"></div>
            </div>

            <div>
              <div class="skeleton h-5 w-48 mb-2 rounded-md"></div>
              <div class="skeleton h-10 w-full rounded-md"></div>
            </div>

            <div>
              <div class="skeleton h-5 w-40 mb-2 rounded-md"></div>
              <div class="skeleton h-10 w-full rounded-md"></div>
            </div>

            <div>
              <div class="skeleton h-5 w-40 mb-2 rounded-md"></div>
              <div class="skeleton h-10 w-full rounded-md"></div>
            </div>
          </div>

          <div class="w-[100%] 2xl:w-[35%] grid-flow-col gap-5 grid grid-col-1 md:grid-col-2 px-10 mt-10">
            <div class="w-full">
              <div class="skeleton h-5 w-40 mb-2 rounded-md"></div>
              <div class="skeleton h-10 w-full rounded-md"></div>
            </div>

            <div class="w-full">
              <div class="skeleton h-5 w-48 mb-2 rounded-md"></div>
              <div class="skeleton h-10 w-full rounded-md"></div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
