<p-toast></p-toast> @if (!isChildRouteActive()){
<section>
  <liaison-header (searchValue)="handleSearchTerm($event)" />

  @switch (studentsQuery.status()) { @case ('pending') { @if (studentsQuery.data()) {
  <ng-container *ngTemplateOutlet="table" />
  } @else {
  <liaison-table
    [columns]="columns"
    [data]="searchTerm() ? filteredData() : studentsQuery.data()!"
    [dataIsLoading]="true"
  />
  } } @case ('error') {
  <h1>An error occurred: {{ studentsQuery.error() }}</h1>
  } @case ('success') {
  <ng-container *ngTemplateOutlet="table" />

  } }
</section>

<ng-template #table>
  <liaison-table
    [columns]="columns"
    [data]="searchTerm() ? filteredData() : studentsQuery.data()!"
    [first]="first()"
    [pageSize]="pageSize()"
    [totalData]="totalData()"
    (pageChange)="handlePageChange($event)"
  />
</ng-template>
}

<router-outlet></router-outlet>
