<header class="flex md:flex-row flex-col items-center justify-between my-6">
  <liaison-searchbar  (searchTermValue)="handleSearchTerm($event)" />

  <div class="flex items-center gap-2">
    <liaison-select-filter
      selection="Select Filter"
      [options]="filterOptions"
      (optionSelected)="getOptionSelected($event)"
    />

    <button
      (click)="isModalOpened = !isModalOpened"
      class="text-white border-2 rounded-full bg-[#19337E] border-[#19337E] font-medium text-sm px-6 py-1.5 text-center inline-flex items-center"
      type="button"
    >
     Add New Zone

      <svg
        class="w-5 h-5 ms-3"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M11 13H5V11H11V5H13V11H19V13H13V19H11V13Z" fill="white" />
      </svg>
    </button>
  </div>
</header>

  <liaison-modal-container  [isOpen]="isModalOpened" [title]="'Add New Zone'" (closeModal)="closeModal()">
    <form [formGroup]="addZoneForm" (ngSubmit)="onSubmit()" class="space-y-6 w-full max-w-md mx-auto px-10">
    <div formArrayName="zones">
     <div *ngFor="let zone of zones.controls; let i = index" [formGroupName]="i">
       @if(isAddMoreTriggered){
         <div class="flex items-center justify-between mt-5">
           <p class="text-Dark-Blue [font-family:Roboto] text-md font-bold leading-[normal] mb-[32px]">Zone {{i + 1}}</p>
           @if (i !== 0){
             <div class=" mt-[32px] cursor-pointer" (click)="removeZone(i)">
               <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M14.5005 24.3596C9.23647 24.3596 4.98047 19.9516 4.98047 14.4996C4.98047 9.04765 9.23647 4.63965 14.5005 4.63965C19.7645 4.63965 24.0205 9.04765 24.0205 14.4996C24.0205 19.9516 19.7645 24.3596 14.5005 24.3596ZM14.5005 5.79965C9.85247 5.79965 6.10047 9.68565 6.10047 14.4996C6.10047 19.3136 9.85247 23.1996 14.5005 23.1996C19.1485 23.1996 22.9005 19.3136 22.9005 14.4996C22.9005 9.68565 19.1485 5.79965 14.5005 5.79965Z" fill="#707070"/>
                 <path d="M9.46094 13.9199H19.5409V15.0799H9.46094V13.9199Z" fill="#707070"/>
               </svg>
             </div>
           }


         </div>

       }
       <div class="flex flex-col gap-2">
         <div  class="w-full mt">
           <div class="w-full flex flex-col items-start">
             <label for="zoneName" class="font-medium text-base mb-2 text-Dark-Primary">Zone Name</label>
             <input
               id="zoneName"
               formControlName="name"
               placeholder="Enter zone name"
               type="text"
               class="w-full p-2 border border-white-Tertiary text-Dark-Primary rounded-lg placeholder:font-normal placeholder:text-sm input-field focus:outline-none focus:ring-2 focus:ring-Dark-Blue focus:border-transparent"
             />
           </div>
         </div>

         <div class="w-full">
           <div class="w-full flex flex-col items-start">
             <label for="region" class="font-medium text-base mb-2 text-Dark-Primary">Select Region</label>
             <div class="relative w-full">
               <select
                 id="region"
                 formControlName="region"
                 name="region"
                 required
                 class="appearance-none w-full p-2 pr-8 border border-white-Tertiary text-Dark-Primary rounded-lg placeholder:font-normal placeholder:text-sm input-field focus:outline-none focus:ring-2 focus:ring-Dark-Blue focus:border-transparent"
               >
                 <option value="" disabled selected>Select a region</option>
                 <option *ngFor="let region of regions" [value]="region">{{region}}</option>
               </select>
               <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                 <svg width="11" height="6" viewBox="0 0 11 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                   <path d="M5.5 5.5L0.5 0.5H10.5L5.5 5.5Z" fill="#5F6368"/>
                 </svg>
               </div>
             </div>
           </div>
         </div>

         <div class="w-full">
           <div class="w-full flex flex-col items-start">
             <label for="zoneLead" class="font-medium text-base mb-2 text-Dark-Primary">Select Zone Lead</label>
             <div class="relative w-full">
               <select
                 id="zoneLead"
                 formControlName="zoneLead"
                 name="zoneLead"
                 required
                 class="appearance-none w-full p-2 pr-8 border border-white-Tertiary text-Dark-Primary rounded-lg placeholder:font-normal placeholder:text-sm input-field focus:outline-none focus:ring-2 focus:ring-Dark-Blue focus:border-transparent"
               >
                 <option value="" disabled selected>Select a zone lead</option>
                 <option *ngFor="let lead of lecturers" [value]="lead">{{lead.name}}</option>
               </select>
               <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                 <svg width="11" height="6" viewBox="0 0 11 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                   <path d="M5.5 5.5L0.5 0.5H10.5L5.5 5.5Z" fill="#5F6368"/>
                 </svg>
               </div>
             </div>
           </div>
         </div>
         <div class="w-full">
           <div class="w-full flex flex-col items-start">
             <label for="zoneLead" class="font-medium text-base mb-2 text-Dark-Primary">Assign Lecturer</label>
             <div class="relative w-full">
               <select
                 id="lecturers"
                 formControlName="lecturerIds"
                 name="zoneLead"
                 required
                 class="appearance-none w-full p-2 pr-8 border border-white-Tertiary text-Dark-Primary rounded-lg placeholder:font-normal placeholder:text-sm input-field focus:outline-none focus:ring-2 focus:ring-Dark-Blue focus:border-transparent"
               >
                 <option value="" disabled selected>Select a zone lead</option>
                 <option *ngFor="let lead of lecturers" [value]="lead">{{lead.name}}</option>
               </select>
               <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                 <svg width="11" height="6" viewBox="0 0 11 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                   <path d="M5.5 5.5L0.5 0.5H10.5L5.5 5.5Z" fill="#5F6368"/>
                 </svg>
               </div>
             </div>
           </div>
         </div>

       </div>

     </div>
      <div class="flex justify-center items-center my-5">
        <div class="flex items-center gap-2 cursor-pointer text-Dark-Blue" (click)="addZone()">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 1.6C11.5288 1.6 14.4 4.4712 14.4 8C14.4 11.5288 11.5288 14.4 8 14.4C4.4712 14.4 1.6 11.5288 1.6 8C1.6 4.4712 4.4712 1.6 8 1.6ZM8 0C3.5816 0 0 3.5816 0 8C0 12.4184 3.5816 16 8 16C12.4184 16 16 12.4184 16 8C16 3.5816 12.4184 0 8 0ZM12 7.2H8.8V4H7.2V7.2H4V8.8H7.2V12H8.8V8.8H12V7.2Z" fill="currentColor"/>
          </svg>
          <span class="font-medium">Add More</span>
        </div>
      </div>

      <div class="flex items-center gap-3 sticky ">
        <button (click)="closeModal()" type="button" class="w-1/3 px-4 py-2 text-Dark-Blue bg-white rounded-full border-2 border-Dark-Blue hover:bg-gray-100 ">
          Cancel
        </button>
        <button type="submit" class="w-2/3 px-4 py-2 text-white bg-Dark-Blue rounded-full border-2 border-Dark-Blue ">
          Add New Zone
        </button>
      </div>
    </div>
    </form>
  </liaison-modal-container>


