<div class="selection fade-down relative w-fit min-w-[140px]">
  <div class="w-full">
    <button
      class="text-[#19337E] border-2 rounded-full border-[#19337E] font-medium text-sm px-6 py-1.5 text-center inline-flex items-center"
      type="button"
    >
      Select Filter
      <svg
        class="w-2.5 h-2.5 ms-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path d="M5 5L0 0H10L5 5Z" fill="#19337E" />
      </svg>
    </button>
  </div>
</div>
