<div class="selection fade-down relative">
  <div class="w-full">
    <button
      class="text-[#19337E] border-2 rounded-full border-[#19337E] font-medium text-sm px-6 py-1.5 text-center inline-flex items-center"
      type="button"
      (click)="openOption()"
    >
      {{ selectedView || selection }}
      <svg
        class="w-2.5 h-2.5 ms-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path d="M5 5L0 0H10L5 5Z" fill="#19337E" />
      </svg>
    </button>
    @if (optionsSelection) {
    <div
      (mouseleave)="onMouseLeave()"
      class="w-fit overflow-hidden py-2 min-w-[180px] absolute right-0 z-40 mt-1 rounded-md bg-[#19337E] shadow-lg"
    >
      @for (option of options; track $index) {
      <button
        type="button"
        class="fade-down hover:bg-gray-100 text-white hover:text-[#19337E] w-full flex cursor-pointer items-center gap-1 px-4 py-2"
        (click)="selectedOption(option, $index)"
      >
        <p class="text-sm">
          {{ option }}
        </p>
      </button>
      }
    </div>
    }
  </div>
</div>
