<div class="px-4 sm:px-6 lg:px-6 xl:px-10 2xl:px-12">
 
  <div
    class="flex flex-col sm:flex-row items-center sm:items-center justify-between w-full"
  >
    <div class="flex flex-col gap-2 mb-4 sm:mb-0">
      <p
        class="text-Primary-Black text-lg sm:text-xl lg:text-2xl 2xl:text-[26px] font-medium relative flex gap-2"
      >
        Welcome back {{ username() || "student" }}
        <img
          ngSrc="/assets/icons/waving_hand.svg"
          alt="Waving Hand"
          height="21"
          width="21"
          priority
        />
      </p>
      <p class="text-Dark-Blue text-lg">Here's an overview of your profile</p>
    </div>

    <div class="flex items-center -mt-[5px] gap-2 sm:gap-5">
      <!-- Dropdown for years -->
      <div class="relative cursor-pointer">
        <p-dropdown
          [options]="years"
          [(ngModel)]="selectedYear"
          (ngModelChange)="getYears()"
          optionLabel="name"
          optionValue="value"
          [placeholder]="currentYear.toString() + '/' + nextYear.toString()"
        >
        </p-dropdown>
      </div>

      <!-- Dropdown for semesters -->
      <div class="relative cursor-pointer">
        <p-dropdown
          [options]="semesterOptions"
          [(ngModel)]="selectedSemester"
          (ngModelChange)="handleSemesterChange()"
          optionLabel="name"
          optionValue="value"
          [placeholder]="semesterOptions[0].name"
        >
        </p-dropdown>
      </div>
    </div>  
  </div>

  <div class="w-full flex justify-end mt-3 mb-6 sm:mb-8">
    <div>
      @if (dashboardQUery.isPending()) {
      <div class="flex h-14 w-auto flex-col justify-center">
        <div class="h-5 w-44 skeleton rounded-full skeleton-text bg-gray-border"></div>
      </div>
      } @else {
  
      @if (student?.isSupervised) {
      <div class="bg-green-200 w-40 px-2 h-8 rounded-full flex items-center justify-center">
        <h3>Status: Supervised</h3>
      </div>
      } @else {
      <div class="bg-red-200 w-48 px-2 h-8 rounded-full flex items-center justify-center">
        <h3>Status: Not Supervised</h3>
      </div>
      } }
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    @for (card of statCard; track $index) {
    <liaison-stat-card
      [iconSrc]="card.iconSrc"
      [title]="card.title"
      [count]="card.count"
      [showView]="card.show"
      [navigateTo]="card.navigateTo"
      [isLoading]="dashboardQUery.isPending()"
    >
    </liaison-stat-card>
    }
  </div>

  @if (dashboardQUery.isPending()){
  <div class="container mx-auto py-6 w-[100%]">
    <div class="h-6 bg-gray-300 rounded w-36 mb-3"></div>

    <!-- Leader Skeleton (Full-Width) -->
    <div
      class="bg-gray-100 p-6 rounded-lg flex items-center justify-center mb-8 shadow-md gap-[10%]"
    >
      <div class="flex items-center animate-pulse">
        <div class="w-24 h-24 rounded-full bg-gray-300 mr-6"></div>
        <div>
          <div class="h-6 bg-gray-300 rounded w-36 mb-2"></div>
          <div class="h-4 bg-gray-300 rounded w-28 mb-1"></div>
          <div class="h-4 bg-gray-300 rounded w-32 mb-1"></div>
          <div class="h-4 bg-gray-300 rounded w-24"></div>
        </div>
      </div>

      <div class="bg-white w-1 h-16"></div>

      <div
        class="w-32 h-5 flex items-center justify-center rounded-full bg-gray-300"
      >
        <div class="h-4 bg-gray-300 rounded w-20"></div>
      </div>
    </div>

    <!-- Grid Skeleton -->
    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-6"
    >
      <div
        *ngFor="let _ of [1, 2, 3, 4, 5, 6]"
        class="card flex justify-content-center animate-pulse"
      >
        <div class="w-[360px] p-4 bg-gray-100 rounded-lg shadow-md">
          <div class="w-full h-48 bg-gray-300 rounded mb-4"></div>
          <div class="h-6 bg-gray-300 rounded w-36 mb-2"></div>
          <div class="h-4 bg-gray-300 rounded w-28 mb-1"></div>
          <div class="h-4 bg-gray-300 rounded w-24"></div>
        </div>
      </div>
    </div>
  </div>

  } @else {
  <div class="container mx-auto py-6 w-[100%]">
    <h1 class="text-2xl font-bold mb-6">Supervisors in Zone</h1>

    @if (!zoneLead && otherLecturers.length <=0){
    <h3>Awaiting supervisor assignment</h3>
    } @else {
      <!-- Leader Card (Full-Width) -->
      <div
        *ngIf="zoneLead"
        class="bg-gray-100 p-6 rounded-lg flex items-center justify-center mb-8 shadow-md gap-[10%]"
      >
        <div class="flex items-center">
          @if (zoneLead.image){
            <img
              [ngSrc]="zoneLead.image"
              alt="Leader"
              class="w-24 h-24 rounded-full mr-6 border border-gray-200"
              fill
              priority
            />
          }@else{
            <div
              class="w-24 h-24 rounded-full mr-6 bg-gray-300 flex items-center justify-center text-white font-bold text-xl"
            >
              {{ getFirstAndLastInitial(zoneLead.name) }}
            </div>
          }
          <div>
            <h2 class="text-xl font-semibold">{{ zoneLead.name }}</h2>
            <p class="text-sm text-gray-600">{{ zoneLead.role }}</p>
            <p class="text-sm text-gray-500">Email: {{ zoneLead.email }}</p>
            <p class="text-sm text-gray-500">Phone: {{ zoneLead.phone }}</p>
          </div>
        </div>

        <div class="bg-white w-1 h-16"></div>

        <div
          class="w-32 h-5 flex items-center justify-center rounded-full bg-Dark-Blue text-white"
        >
          <p class="text-sm text-white">Zone Lead</p>
        </div>


      </div>
      <!-- Grid Layout -->
      <div
      *ngIf="otherLecturers.length > 0"
        class="grid grid-flex-col grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-6 item-center"
      >
        <div *ngFor="let supervisor of otherLecturers">
          <div class="card flex justify-content-center">
            <p-card [header]="supervisor.name" [style]="{ width: '360px' }">
              <ng-template pTemplate="header">
                @if (supervisor.image) {
                  <div
                    class="w-full h-48 object-cover mr-6 bg-gray-300 flex items-center justify-center text-white font-bold text-xl"
                  >
                    <div
                      class="w-24 h-24 rounded-full flex items-center justify-center bg-white text-black"
                    >
                      <img
                        [ngSrc]="supervisor.image"
                        alt="{{ supervisor.name }}"
                        class="w-24 h-24 rounded-full object-cover priority"
                        fill
                      />
                    </div>
                  </div>
                } @else {
                  <div
                    class="w-full h-48 object-cover mr-6 bg-gray-300 flex items-center justify-center text-white font-bold text-xl"
                  >
                    <div
                      class="w-24 h-24 rounded-full flex items-center justify-center bg-white text-black"
                    >
                      {{ getFirstAndLastInitial(supervisor.name) }}
                    </div>
                  </div>
                }
              </ng-template>
              <div class="-mt-3">
                <p class="text-sm text-gray-600">{{ supervisor.email }}</p>
                <p class="text-sm text-gray-500">{{ supervisor.phone }}</p>
                <p class="text-sm text-gray-500">{{ supervisor.role }}</p>
              </div>
            </p-card>
          </div>
        </div>
      </div>
    }

  </div>
  }
</div>
