<section>
    <liaison-lecturer-students-header />

  @switch (studentsInternQuery.status()) { @case ('pending') { @if
  (studentsInternQuery.data()) {
    <ng-container *ngTemplateOutlet="table" />
  } @else {
    <liaison-table [columns]="columns" [data]="[]" [dataIsLoading]="true" />
  } } @case ('error') {
    <liaison-table [columns]="columns" [data]="[]" [errorOccurred]="true" />
  } @case ('success') {
    <ng-container *ngTemplateOutlet="table" />

  } }
</section>

<ng-template #table>
  <liaison-table
    [columns]="columns"
    [data]="searchTerm() ? filteredData() : studentsInternQuery.data()!"
    [first]="first()"
    [pageSize]="pageSize()"
    [totalData]="totalData()"
    (pageChange)="handlePageChange($event)"
  />
</ng-template>
