<div class="flex max-h-[calc(100vh-150px)] overflow-y-auto no-scrollbar">
  <!-- Table Section -->
  <div
    class="flex-1 overflow-x-auto border border-[#D1D9E2] rounded-lg max-w-[400px] md:max-w-none"
  >
    <table class="min-w-full bg-[#F9FBFD] divide-y divide-[#D1D9E2]">
      <thead>
        <tr>
          <th class="p-4">
          </th>
          @for (column of columns(); track $index) {
          <ng-container>
            <th
              class="px-6 py-3 text-left text-base font-medium text-black tracking-wider"
            >
              @if (column.key.toLowerCase().includes('name')) {
              <button
                (click)="sortByName()"
                class="flex items-center gap-2 text-black hover:text-gray-500 focus:outline-none"
              >
                {{ column.label }}
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="15"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-arrow-up"
                >
                  <path
                    [attr.d]="sortOrder === 'asc' ? 'M12 19V5' : 'M12 5v14'"
                  />
                  <path
                    [attr.d]="
                      sortOrder === 'asc' ? 'm5 12 7-7 7 7' : 'm19 12-7 7-7-7'
                    "
                  />
                </svg>
              </button>
              } @else {
              {{ column.label }}
              }
            </th>
          </ng-container>
          }
        </tr>
      </thead>

      <tbody class="bg-[#F9FBFD] divide-[#D1D9E2] divide-y">
        @if (dataIsLoading()) {
        <!-- Skeleton loading rows -->
        @for (item of numberOfPlaceholderRows; track $index) {
        <tr>
          <!-- Skeleton checkbox -->
          <td class="w-[60px] pl-5">
            <div
              class="form-checkbox h-4 w-4 bg-gray-200 rounded animate-pulse"
            ></div>
          </td>

          @for (column of columns(); track $index) {
          <ng-container>
            <td
              class="px-4 py-4 whitespace-nowrap text-sm overflow-hidden truncate max-w-[150px]"
            >
              <!-- Skeleton for image and ID column -->
              @if (column.key.toLowerCase().includes('id')) {
              <div class="flex items-center gap-3">
                <div
                  class="h-8 w-8 rounded-full bg-gray-300 animate-pulse"
                ></div>
                <span class="h-4 w-24 bg-gray-200 rounded animate-pulse"></span>
              </div>
              } @else if(column.key === 'status') {
              <!-- Skeleton for status chip -->
              <div class="h-6 w-20 bg-gray-200 rounded animate-pulse"></div>
              } @else if (column.isAction) {
              <!-- Skeleton for action button -->
              <div class="h-4 w-16 bg-gray-200 rounded animate-pulse"></div>
              } @else {
              <!-- Skeleton for other text columns -->
              <span class="h-4 w-32 bg-gray-200 rounded block animate-pulse">
              </span>
              }
            </td>
          </ng-container>
          }
        </tr>
        } } @else if (errorOccurred()) {
        <tr>
          <td colspan="100%">
            <liaison-error-occurred
              [isError]="true"
              [errorMessage]="'Unable to load data for the table.'"
            />
          </td>
        </tr>
        } @else {
        <!-- Actual data rows when not loading -->
        @for (row of data(); track $index) {
        <tr [ngClass]="{
            'hover:bg-gray-100 cursor-pointer': isRowClickable,
            'hover:bg-gray-100': !isRowClickable
          }" (click)="isRowClickable && onRowClick(row)">
          <td [ngClass]="{ 'pl-5 w-[60px]': !HideCheckbox }">
            <input
              type="checkbox"
              class="form-checkbox cursor-pointer accent-[#19337E]"
              [ngClass]="{ hidden: HideCheckbox, 'h-4 w-4': !HideCheckbox }"
              [checked]="row['isSupervised']"
              (click)="onActionClick(row)"
            />
          </td>

          @for (column of columns(); track $index) {
          <ng-container>
            <td
              class="px-4 py-4 whitespace-nowrap text-sm overflow-hidden truncate max-w-[150px]"
            >
              @if (column.key.toLowerCase().includes('id')) { @if (row['dp']) {
              <div class="flex items-center gap-3">
                <img
                  [src]="row['dp']"
                  alt="Student Display Profile"
                  class="h-8 w-8 rounded-full"
                />
                <span class="truncate"
                  >{{ row["student_id"] || row["staff_id"] }}
                </span>
              </div>
              } @else {
              <div class="flex items-center gap-3">
                <div
                  class="h-8 w-8 rounded-full bg-gray-100 flex justify-center items-center text-gray-500 font-semibold"
                >
                  {{ getNameInitials(row["name"]) }}
                </div>
                <span class="truncate max-w-40">{{ row[column.key] }}</span>
              </div>
              } } @else if(column.key === 'status') {
              <liaison-status-chip [status]="row['status']" />
              } @else if (column.isAction) {
              <button
                type="button"
                (click)="onSelectRow(row)"
                class="text-[#19337E] hover:text-indigo-500 flex items-center gap-1 underline"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15 12l4-4m0 0l-4-4m4 4H9m6 8l4-4m0 0l-4-4m4 4H9m6 8l4-4m0 0l-4-4m4 4H9m6 8l4-4m0 0l-4-4m4 4H9"
                  />
                </svg>
                View
              </button>
              } @else {
              <span class="truncate ml-1">{{ row[column.key] }}</span>
              }
            </td>
          </ng-container>
          }
        </tr>
        } @empty {

        <tr>
          <td colspan="100%">
            <liaison-error-occurred
              [isError]="false"
              [errorMessage]="'You will see all data here when you add one.'"
            />
          </td>
        </tr>

        } }
      </tbody>
    </table>

    @if (totalData! > 10){
    <div
      class="flex right-0 items-center justify-end"
      [ngClass]="{ hidden: HidePagination }"
    >
      <div class="card flex justify-content-center">
        <p-paginator
          (onPageChange)="onPageChange($event)"
          [first]="first || 0"
          [rows]="pageSize"
          [totalRecords]="totalData"
          [showCurrentPageReport]="true"
          [showFirstLastIcon]="false"
          [showPageLinks]="false"
          [showJumpToPageDropdown]="false"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
        />
      </div>
    </div>
    }
  </div>

  <!-- Panel Section -->
  @if (selectedRow) {
  <div class="w-[30%]"> 
    <liaison-preview-panel (closeEvent)="onClosePanel()" [data]="selectedRow" />
  </div>
  }
</div>
