<div class="flex max-h-[calc(100vh-150px)] overflow-y-auto no-scrollbar">
  <!-- Table Section -->
  <div
    class="flex-1 overflow-x-auto border border-[#D1D9E2] rounded-lg max-w-[400px] md:max-w-none"
  >
    <table class="min-w-full bg-[#F9FBFD] divide-y divide-[#D1D9E2]">
      <thead>
        <tr>
          <th class="p-4">
            <input
              type="checkbox"
              class="form-checkbox h-4 w-4 accent-[#19337E]"
              [ngClass]="{ hidden: HideCheckbox }"
            />
          </th>
          @for (column of columns(); track $index) {
          <ng-container>
            <th
              class="px-6 py-3 text-left text-base font-medium text-black tracking-wider"
            >
              @if (column.key.toLowerCase().includes('name')) {
              <button
                (click)="sortByName()"
                class="flex items-center gap-2 text-black hover:text-gray-500 focus:outline-none"
              >
                {{ column.label }}
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="15"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-arrow-up"
                >
                  <path
                    [attr.d]="sortOrder === 'asc' ? 'M12 19V5' : 'M12 5v14'"
                  />
                  <path
                    [attr.d]="
                      sortOrder === 'asc' ? 'm5 12 7-7 7 7' : 'm19 12-7 7-7-7'
                    "
                  />
                </svg>
              </button>
              } @else {
              {{ column.label }}
              }
            </th>
          </ng-container>
          }
        </tr>
      </thead>

      <tbody class="bg-[#F9FBFD] divide-[#D1D9E2] divide-y">
        @for (row of data(); track $index) {
        <tr>
          <td class="w-[60px] pl-5">
            <input
              type="checkbox"
              class="form-checkbox h-4 w-4 accent-[#19337E]"
              [ngClass]="{ hidden: HideCheckbox }"
            />
          </td>

          @for (column of columns(); track $index) {
          <ng-container>
            <td
              class="px-4 py-4 whitespace-nowrap text-sm overflow-hidden truncate max-w-[150px]"
            >
              @if (column.key.toLowerCase().includes('id')) { @if
              (row['imageUrl']) {
              <div class="flex items-center gap-3">
                <img
                  [src]="row['imageUrl']"
                  alt="Student Display Profile"
                  class="h-8 w-8 rounded-full"
                />
                <span class="truncate"
                  >{{ row["student_id"] || row["staff_id"] }}
                </span>
              </div>
              } @else {
              <div class="flex items-center gap-3">
                <div
                  class="h-8 w-8 rounded-full bg-gray-100 flex justify-center items-center text-gray-500 font-semibold"
                >
                  {{ getNameInitials(row["name"]) }}
                </div>
                <span class="truncate max-w-40">{{ row[column.key] }}</span>
              </div>
              } } @else if(column.key === 'status') {
              <liaison-status-chip [status]="row['status']" />

              } @else if (column.isAction) {
              <button
                type="button"
                (click)="onSelectRow(row)"
                class="text-indigo-600 hover:text-indigo-900 underline"
              >
                View
              </button>
              } @else {
              <span class="truncate ml-1">{{ row[column.key] }}</span>
              }
            </td>
          </ng-container>

          }
        </tr>
        }
      </tbody>
    </table>
    @if (data().length === 0){
    <div class="flex flex-col justify-center items-center min-h-[400px]">
      <img src="assets/empty-data.svg" alt="empty table" />
      <p class="text-Primary-Black font-medium text-[20px]">No data found</p>
      <p>You will see all data here when you add one</p>
    </div>
    } @if (totalData! > 10){
    <div
      class="flex right-0 items-center justify-end"
      [ngClass]="{ hidden: HidePagination }"
    >
      <div class="card flex justify-content-center">
        <p-paginator
          (onPageChange)="onPageChange($event)"
          [first]="first || 0"
          [rows]="pageSize"
          [totalRecords]="totalData"
          [showCurrentPageReport]="true"
          [showFirstLastIcon]="false"
          [showPageLinks]="false"
          [showJumpToPageDropdown]="false"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
        />
      </div>
    </div>
    }
  </div>

  <!-- Panel Section -->
  @if (selectedRow) {
  <div class="w-[30%] p-4">
    <liaison-preview-panel (closeEvent)="onClosePanel()" [data]="selectedRow" />
  </div>
  }
</div>
