<div class="flex">
  <!-- Table Section -->
  <div
    class="flex-1 overflow-x-auto border-2 border-[#D1D9E2] rounded-lg max-w-[400px] md:max-w-none"
  >
    <table class="min-w-full bg-[#F9FBFD] divide-y-2 divide-[#D1D9E2]">
      <thead>
        <tr>
          <th class="p-4">
            <input
              type="checkbox"
              class="form-checkbox h-4 w-4 text-indigo-600"
            />
          </th>
        </tr>
      </thead>
      <tbody class="bg-[#F9FBFD] divide-[#D1D9E2] divide-y-2">
   
      </tbody>
    </table>
  </div>

</div>
