<p-toast></p-toast>
@if (!isChildRouteActive()){
<section>
  <liaison-zone-header
    (searchValue)="handleSearchTerm($event)"
    (filterValue)="handleFilter($event)"
  />

  @switch (zoneQuery.status()) { @case ('pending') { @if (zoneQuery.data()) {
  <ng-container *ngTemplateOutlet="table" />
  } @else {
  <liaison-table
    [columns]="columns"
    [data]="[]"
    [dataIsLoading]="true"
    [HideCheckbox]="HideCheckbox"
  />
  } } @case ('error') {
  <liaison-table
    [columns]="columns"
    [data]="[]"
    [errorOccurred]="true"
    [HideCheckbox]="HideCheckbox"
  />
  } @case ('success') {
  <ng-container *ngTemplateOutlet="table" />

  } }
</section>

<ng-template #table>
  <liaison-table
    [columns]="columns"
    [data]="searchTerm() || FilterValue() ? filteredData() : zoneQuery.data()!"
    [first]="first"
    [pageSize]="pageSize"
    [totalData]="totalData"
    [HideCheckbox]="HideCheckbox"
    [isRowClickable]="true"
    (pageChange)="handlePageChange($event)"
    (rowClicked)="handleOnRowClicked($event)"
  />
</ng-template>
}

<router-outlet></router-outlet>
