<div class="pl-5">
  <div class="flex items-center gap-28 w-[100%] mb-8">
    <div class="flex flex-col gap-2">
      <p class="text-Primary-Black text-[20px] 2xl:text-[22px] font-medium">Welcome back James <img class="absolute left-200 mt-[-25px] ml-[17%] 2xl:ml-[12.5%]" ngSrc="assets/🦆%20emoji%20_waving%20hand%20sign_.svg" width="21" height="21" alt="wave">
      </p>
      <p class="text-Dark-Blue">Here’s an overview of your profile</p>
    </div>

    <div class="flex items-center gap-5">

    </div>

  </div>

  <div class="flex gap-[6%] 2xl:gap-[10%] justify-start items-center">
    @for (card of statCard; track $index) {
      <liaison-stat-card
        [iconSrc]="card.iconSrc"
        [title]="card.title"
        [count]="card.number">
      </liaison-stat-card>
    }
  </div>
</div>
