<header class="flex md:flex-row flex-col items-center justify-between my-6">
  <div class="flex gap-4">
    <liaison-searchbar placeholder="Search by name, id" (searchTermValue)="handleSearchTerm($event)" />
    <button type="button" (click)="toggleFilter()" [style.color]="toggledFilters ? '#19337E' : '#000000'"
      class="flex items-center gap-2 rounded-lg border border-[#D1D6E5] text-sm px-5 py-2 md:h-9 md:px-3">
      Filters

      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-chevron-down">
        <path [attr.d]="toggledFilters ? 'M6 9l6 6 6-6' : 'M18 15l-6-6-6 6'" />
      </svg>
    </button>
  </div>

  <div class="flex gap-4">
    <button type="button" routerLink="../students/location"
      class="text-white border-2 rounded-full bg-[#19337E] border-[#19337E] font-medium text-sm px-6 py-1.5 text-center inline-flex gap-3 items-center"
      type="button">
      Students Location

      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-map-pin">
        <path
          d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0" />
        <circle cx="12" cy="10" r="3" />
      </svg>
    </button>

    <button type="button" routerLink="../students/upload"
      class="text-white border-2 rounded-full bg-[#19337E] border-[#19337E] font-medium text-sm px-6 py-1.5 text-center inline-flex items-center"
      type="button">
      Import Data

      <svg class="w-5 h-5 ms-3" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11 13H5V11H11V5H13V11H19V13H13V19H11V13Z" fill="white" />
      </svg>
    </button>
  </div>
</header>

@if(toggledFilters) {
<div class="my-6 flex justify-between items-center pr-5 animate-fade-down animate-once">
  <div class="flex gap-4">
    <p-dropdown [options]="facultyFilterOptions" [(ngModel)]="selectedFaculty" (ngModelChange)="onFacultyChange($event)"
      optionLabel="name" optionValue="value" [placeholder]="'Filter by Faculty'"></p-dropdown>

    <p-dropdown [options]="departmentsFilterOptions" [(ngModel)]="selectedDepartment"
      (ngModelChange)="emitFilterValue()" optionLabel="name" optionValue="value"
      [placeholder]="'Filter by Department'"></p-dropdown>
  </div>

  <div class="flex gap-4">
    <button type="button" title="Reload Data" (click)="refetchData()">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#19337E"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-list-restart">
        <path d="M21 6H3" />
        <path d="M7 12H3" />
        <path d="M7 18H3" />
        <path d="M12 18a5 5 0 0 0 9-3 4.5 4.5 0 0 0-4.5-4.5c-1.33 0-2.54.54-3.41 1.41L11 14" />
        <path d="M11 10v4h4" />
      </svg>
    </button>

    <button type="button" title="Clear Filters" (click)="clearFilters()" class="flex gap-1 items-center text-[#19337E]">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#19337E"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-x">
        <circle cx="12" cy="12" r="10" />
        <path d="m15 9-6 6" />
        <path d="m9 9 6 6" />
      </svg>
      Clear
    </button>
  </div>
</div>
}