<section>
  <liaison-header
    (searchValue)="handleSearchTerm($event)"
    (filterValues)="handleFilterValue($event)"
    (refetch)="refetchData()"
  />

  @switch (lecturersQuery.status()) { @case ('pending') { @if
  (lecturersQuery.data()) {
  <ng-container *ngTemplateOutlet="table" />

  } @else {
  <liaison-table [columns]="columns" [data]="[]" [dataIsLoading]="true" [HideCheckbox] = "HideCheckbox"/>
  } } @case ('error') {
  <liaison-table [columns]="columns" [data]="[]" [errorOccurred]="true" [HideCheckbox] = "HideCheckbox"/>
  } @case ('success') {
  <ng-container *ngTemplateOutlet="table" />

  } }
</section>

<ng-template #table>
  <liaison-table
    [columns]="columns"
    [data]="searchTerm() ? filteredData() : lecturersQuery.data()!"
    [first]="first()"
    [pageSize]="pageSize()"
    [totalData]="totalData()"
    [HideCheckbox] = "HideCheckbox"
    (pageChange)="handlePageChange($event)"
  />
</ng-template>
