<section>
  <liaison-header (searchValue)="handleSearchTerm($event)" />

  @switch (lecturersQuery.status()) { @case ('pending') { @if
  (lecturersQuery.data()) {
  <ng-container *ngTemplateOutlet="table" />

  } @else {
  <liaison-table [columns]="columns" [data]="[]" [dataIsLoading]="true" />
  } } @case ('error') {
  <liaison-table [columns]="columns" [data]="[]" [errorOccurred]="true" />
  } @case ('success') {
  <ng-container *ngTemplateOutlet="table" />

  } }
</section>

<ng-template #table>
  <liaison-table
    [columns]="columns"
    [data]="searchTerm() ? filteredData() : lecturersQuery.data()!"
    [first]="first()"
    [pageSize]="pageSize()"
    [totalData]="totalData()"
    (pageChange)="handlePageChange($event)"
  />
</ng-template>
