<div class="overflow-x-auto">
  <google-map
    height="500px"
    width="100%"
    [zoom]="7"
    [center]="center"
    (mapInitialized)="onMapReady($event)"
  >
    <!-- Lecturer's Location Marker -->
    <map-marker
      [position]="{
        lat: userLocation().latitude,
        lng: userLocation().longitude
      }"
      [label]="{
        text: 'You',
        color: 'black',
        fontSize: '14px',
        fontWeight: 'bold'
      }"
    ></map-marker>

    <!-- Students' Location Markers -->
    @for (location of studentLocations; track $index) {
    <map-marker
      [position]="{ lat: location.lat, lng: location.lng }"
      [label]="{
        text: location.label,
        color: 'blue',
        fontSize: '14px',
        fontWeight: 'bold'
      }"
      [icon]="{
        url: 'assets/icons/yellow_location.svg',
      }"
      (mapClick)="onMarkerClick(location)"
    />
    }
  </google-map>
</div>
