<section>
  <liaison-header
    (searchValue)="handleSearchTerm($event)"
    (refetch)="refetchData()"
    (dateFilterValue)="handleDateFilter($event)"
    (statusFilterValue)="handleStatusFilter($event)"
  />

  @switch (studentsQuery.status()) { @case ('pending') { @if
  (studentsQuery.data()) {
  <ng-container *ngTemplateOutlet="table" />
  } @else {
  <liaison-table [columns]="columns" [data]="[]" [dataIsLoading]="true" [HideCheckbox] = "HideCheckbox"/>
  } } @case ('error') {
  <liaison-table [columns]="columns" [data]="[]" [errorOccurred]="true" [HideCheckbox] = "HideCheckbox"/>
  } @case ('success') {
  <ng-container *ngTemplateOutlet="table" />

  } }
</section>

<ng-template #table>
  <liaison-table
    [columns]="columns"
    [data]="searchTerm() ? filteredData() : studentsQuery.data()!"
    [first]="first()"
    [pageSize]="pageSize()"
    [totalData]="totalData()"
    [HideCheckbox] = "HideCheckbox"
    (pageChange)="handlePageChange($event)"
  />
</ng-template>
