@if (!isChildRouteActive()){
<section>
  <liaison-colleague-header (searchValue)="handleSearchTerm($event)" />

  @switch (dashboardDataQuery.status()) { @case ('pending') { @if
  (dashboardDataQuery.data()) {
    <ng-container *ngTemplateOutlet="table" />
  } @else {
    <liaison-table [HideCheckbox]="HideCheckbox" [columns]="columns" [data]="[]" [dataIsLoading]="true" />
  } } @case ('error') {
    <liaison-table [HideCheckbox]="HideCheckbox" [columns]="columns" [data]="[]" [errorOccurred]="true" />
  } @case ('success') {
    <ng-container *ngTemplateOutlet="table" />

  } }

</section>

<ng-template #table>
  <liaison-table
    [columns]="columns"
    [data]="searchTerm() ? filteredData() : dashboardDataQuery.data()!"
    [first]="first()"
    [pageSize]="pageSize()"
    [totalData]="totalData()"
    [HideCheckbox]="HideCheckbox"
    (pageChange)="handlePageChange($event)"
  />
</ng-template>
}

<router-outlet></router-outlet>
