<span
  class="px-2 py-[2px] inline-flex text-xs leading-5 font-semibold rounded-full"
  [ngClass]="{
    'bg-[#ECFDF3] text-[#027A48]': status() === 'COMPLETED',
    'bg-yellow-200 text-yellow-900': status() === 'NOT_STARTED',
    'bg-blue-100 text-[#0052B4]': status() === 'IN_PROGRESS',
    'bg-red-200 text-red-900': status() === 'NOT SUPERVISED',
    'bg-green-200 text-green-900': status() === 'SUPERVISED'
  }">
  @if (status() === 'COMPLETED') { Completed }
  @if (status() === 'NOT_STARTED') { Not Started }
  @if (status() === 'IN_PROGRESS') { In progress }
  @if (status() === 'SUPERVISED') {Supervised}
  @if (status() === 'NOT SUPERVISED') {Not Supervised}
</span>
  