<div class="border border-Lighter-Blue bg-Lighter-Gray p-4 rounded-lg">
  <div class="flex justify-between">
    <div>
      <h1 class="text-lg text-black">{{ title }}</h1>
      <h2 class="text-3xl font-bold text-black">{{ count }}</h2>
    </div>

    <div
      class="w-8 h-8 rounded-full bg-Bright-Blue flex justify-center items-center"
    >
      <img [ngSrc]="iconSrc" alt="Icon" width="20" height="20" />
    </div>
  </div>
  <div class="w-full flex justify-end">
    <button
      (click)="navigate()"
      class="text-[#19337E] hover:text-[#19337E]/70 text-sm"
    >
      VIEW
    </button>
  </div>
</div>
