<div class="flex flex-col items-start px-5 w-[100%] gap-10 h-screen">
  <div class="flex pl-10  2xl:mt-5">
    <liaison-brand color="#19337E" [logoSize]="20" [textSize]="18"  ></liaison-brand>
  </div>
 <div class="flex flex-col items-center w-full xl:gap-3 2xl:gap-10 2xl:mt-20">
   <img ngSrc="assets/404.svg" height="431" width="435" alt="page not found">
   <div class="flex flex-col items-center gap-2">
     <p class="font-bold text-Primary-Black text-[30px]">Something went wrong!</p>
     <p>The requested page can not be found or might be temporarily unavailable. </p>
   </div>
 </div>
</div>
